#menu{
    position: relative;
    width: 100%;
}
#crmadmin{
    height:  50px;
    text-align: center;
    color: white;
    padding: 20px 0px 20px 0px ;
    font-size: 20px;
}
#dashboard{
    text-align: left;
    height: 40px;
    color: white;
    padding: 10px 0px 0px 16px;
}
.sidebar-heading{
         color: rgba(255,255,255,.4);
         font-size: 10px;
}

#QL div{
    padding: 16px 16px 16px 16px;
}
#search{
    width: 100%;


}

#username{
    text-align: right;
}
table, td, th {  
    border: 1px solid #ddd;
  }
table {
    width: 100%;
    border-collapse: collapse;
  }
  table th{
      height: 40px;
      padding: 10px 10px 10px 10px;
  }
  table td{
      height: 40px;
      padding-left: 10px;

  }
  pagination-controls{
    float: right;
    margin: 10px 30px 10px 10px;
  }