<mat-form-field>
    <input matInput (keyup)="onSeach($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
            <td mat-cell *matCellDef=" let i= index"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} {{i}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Chức vụ </th>
            <td mat-cell *matCellDef="let row"> {{row.position}} </td>
        </ng-container>

        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tuổi </th>
            <td mat-cell *matCellDef="let row"> {{row.age}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày bắt đầu </th>
            <td mat-cell *matCellDef="let row"> {{row.startdate*1000 | date:'dd/MM/yyyy,h:mm a'}} </td>
        </ng-container>

        <ng-container matColumnDef="setting">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
            <td mat-cell *matCellDef="let row">
                <a [routerLink]="['/edit', row.id]"> Xem chi tiết</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<mat-paginator style="height: 10%" [pageSizeOptions]="[ 10, 25, 100]" showFirstLastButtons></mat-paginator>