<div class="container-f">
    <table class="table table-bordered">
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Setting</th>
            </tr>
        </thead>
        <tr *ngFor="let filtered of filteredProduct | paginate: config">
            <td>{{filtered.name}}</td>
            <td>{{filtered.position}}</td>
            <td>{{filtered.office}}</td>
            <td>{{filtered.age}}</td>
            <td>{{filtered.startdate}}</td>
            <td>{{filtered.salary}}</td>
            <td><a [routerLink]="['/edit',  filtered.id]"><button class="btn btn-outline-warning">Edit</button></a>
                <button class="btn btn-outline-warning" style="color: blue;"
                    (click)="deletePost(product.id)">Delete</button>
            </td>
        </tr>
    </table>
    <tr *ngFor="let a of filteredProduct">
        <td>{{a.name}}</td>
    </tr>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>