<div class="tablediv">
    <table class="table table-bordered" fixed-header>
        <thead>
            <tr class="table-head" fixed-header>
                <th class="table-head-font-weight-normal">Company Universal Customer ID (UCID)</th>
                <th class="table-head-font-weight-normal">Company UCID Name</th>
                <th class="table-head-font-weight-normal">Company UCID Name</th>
                <th class="table-head-font-weight-normal">Company UCID Name</th>
                <th class="table-head-font-weight-normal">Company UCID Name</th>
                <th class="table-head-font-weight-normal">Company UCID Name</th>
                <th class="table-head-font-weight-normal">Company UCID Name</th>
                <!-- <th></th> -->
            </tr>
        </thead>
        <tbody class="table-txt-blue">
            <tr>
                <td>#1</td>
                <td>1 </td>
                <td>#1</td>
                <td>1 </td>
                <td>#1</td>
                <td>1 </td>
                <td>#1</td>
                <td>1 </td> 
                <td>1 </td>
            </tr>
            <tr>
                <td>#1</td>
                <td>1 </td>
            </tr>
            <tr>
                <td>#1</td>
                <td>1 </td>
            </tr>
            <tr>
                <td>#1</td>
                <td>1 </td>
            </tr>
            <tr>
                <td>#1</td>
                <td>1 </td>
            </tr>
            <tr>
                <td>#1</td>
                <td>1 </td>
            </tr>
            <tr>
                <td>#1</td>
                <td>1 </td>
            </tr>
            <tr>
                <td>#1</td>
                <td>1 </td>
            </tr>
            <tr>
                <td>#1</td>
                <td>1 </td>
            </tr>
            <tr>
                <td>#1</td>
                <td>1 </td>
            </tr>
            <tr>
                <td>#1</td>
                <td>1 </td>
            </tr>
        </tbody>
    </table>
</div>