<div id="crmadmin"><i class="fab fa-angellist"></i> CRM ADMIN
</div>
<hr style="background-color: white;">
<div id="dashboard"><i class="fas fa-fw fa-tachometer-alt"></i> Dashboard</div>
<hr style="background-color: white;">

<div id="QL">
    <div class="sidebar-heading"><b>INTERFACE</b></div>
    <div><a href="/" style="color: white;"><i class="fas fa-fw fa-cog"></i> QL.Sản phẩm</a></div>
    <div><a href="/" style="color: white;"> <i class="fas fa-fw fa-wrench"></i> QL.Khách hàng</a></div>
    <div id="username" style="text-align:center;">
        <a [routerLink]="['/create']" >
            <button class="btn btn-success" >
                <i style="width: 40px; height: 40px;" class="fa fa-plus-square"></i></button>
            <label for="s"></label>
        </a>
    </div>
</div>