<div
    style="background-image: url(https://img.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg?size=626&ext=jpg); min-height: 100vh;">
    <mat-toolbar class="example-toolbar row">
        <h1 class="example-app-name col-10">Responsive App</h1>
        <span class="nav-tool-items col-2">
            <a
                mat-button
                [routerLink]="['/dang-nhap']"
                routerLinkActive="router-link-active"
            >Log in</a>
            <a
                mat-button
                mat-raised-button
                [routerLink]="['/dang-ky']"
                routerLinkActive="router-link-active"
            >Register</a>
        </span>
    </mat-toolbar>
    <div class="row p-0 m-0">
        <div class="col-4"></div>
        <mat-card class=" col-4">
            <mat-card-header>
                <mat-card-title>Log in</mat-card-title>
            </mat-card-header>
            <form class="example-form">
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input
                            matInput
                            placeholder="Username"
                        >
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input
                            type="password"
                            matInput
                            placeholder="Password"
                        >
                    </mat-form-field>
                </mat-card-content>
                <button
                    mat-stroked-button
                    color="accent"
                    class="btn-block"
                    (click)="onclick()"
                >Log in</button>
                <div class="login">
                    <p>Chưa phải là thành viên?<br>
                        <a routerLink='/dang-ky'>Đăng ký ngay</a>
                    </p>

                    <p>Hoặc đăng nhập với: </p>
                    <a
                        type="button"
                        class="btn-floating btn-fb btn-lg"
                    >
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a
                        type="button"
                        class="btn-floating btn-tw btn-lg"
                    >
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a
                        type="button"
                        class="btn-floating btn-li btn-lg"
                    >
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a
                        type="button"
                        class="btn-floating btn-git btn-lg"
                    >
                        <i class="fab fa-github"></i>
                    </a>
                </div>

            </form>
        </mat-card>
        <div class="col-4"></div>
    </div>
</div>