
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
    padding: 0px 10px 0px 10px;
}
pagination-controls{
    float: right;
    margin: 10px 30px 10px 10px;
}
#search{
    width: 100%;


}

#username{
    text-align: right;
}

// table th{
//     height: 42px;
// }

tbody {
    display:block;
    height:330px;
    overflow-y:scroll;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
thead {
    width: 3584px/* scrollbar is average 1em/16px width, remove it from thead width */
}
