#crmadmin{
    height:  100px;
    text-align: center;
    color: white;
    padding: 40px 0px 40px 0px ;
    font-size: 20px;
}
#dashboard{
    text-align: center;
    height: 50px;
    color: white;
    padding: 10px 0px 10px 0px;
}
#QL{
    text-align: center;
    color: white;
}
#QL div{
    padding: 10px 0px 10px 0px;
}
#seach{
    margin: 10px;
    height: 80px;
    background: white;
}